/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Global Css */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: #f7f7f7;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Colors */
.text-orange {
    color: #FEA301;
}

.text-sky-blue {
    color: #01ACFD;
}

.text-light-blue {
    color: #05D4DF;
}

.text-purple {
    color: #5D58EF;
}

.text-black {
    color: black;
}

/* Background colors */
.bg-orange {
    background-color: #FEA301;
}

.bg-black {
    background-color: black;
}

.bg-light-blue {
    background-color: #05D4DF;
}

.bg-purple {
    background-color: #5D58EF;
}

.bg-light-green {
    background-color: #95B226;
}

/* Section releted style */
.section-title {
    font-size: 2.875rem;
    font-weight: 700;
    line-height: 3.59375rem;
    color: black;
    text-align: center;
}

.text {
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
}

.section-gap {
    padding: 3.75rem 0;
}

img {
    width: 100%;
}

.btn {
    border-radius: 12px;
    border: none;
    cursor: pointer;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: white;
}

.hidden {
    display: none;
}

/* *************************************************************************** */

/* Navbar Style */
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-mobile {
    padding: 12px 16px;
    border-bottom: 0.5px solid #FEA301;
}

.logo {
    width: 46px;
    height: 46px;
}

.brand-text {
    margin-left: 10px;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
}

.navItems {
    gap: 32px;
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

.navLinks {
    text-decoration: none;
}

/* Banner style */
.banner{
    gap: 50px;
}
.banner-content {
    max-width: 640px;
}

.banner-title {
    font-size: 3.5rem;
    line-height: 3.8125rem;
    font-weight: 700;
}

.banner-text {
    color: black;
    margin: 24px 0;
    font-size: 1.25rem;
}

/* Curriculum style */
.curriculum{
    padding: 60px 0;
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.curriculum-cards{
    margin: 80px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: center;
}
.curriculum-card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 28px 0.94px rgba(0, 0, 0, 0.05);
}
.curriculum-title{
    font-size: 1.5625rem;
    line-height: 1.875rem;
    font-weight: 700;
}
.read-more{
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 700;
    cursor: pointer;
}
.curriculum-text{
    margin: 30px 0;
}
.card-1{
    border: 1px solid #DEF5FF;
    background-image: linear-gradient(to bottom, #DEF5FF 0%, white 40%);
}
.card-2{
    border: 1px solid #FFF4DC;
    background-image: linear-gradient(to bottom, #FFF4DC 0%, white 40%);
}
.card-3{
    border: 1px solid #F2E8FF;
    background-image: linear-gradient(to bottom, #F2E8FF 0%, white 40%);
}
.circle-btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    border: none;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    margin-right: 10px;
}
.curriculum-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}